<header class="header content-wrap">
    <div class="header__logo logo">
        <div class="logo__wrap">
            <img src="/img/header/logobg.png" alt="logobg" class="logo__img-bg">
            <img src="/img/header/Dansk.png" alt="Dansk" class="logo__img-dansk">
            <img src="/img/header/Studio.png" alt="Studio" class="logo__img-studio">
        </div>
        <div class="logo__title">студия изучения датского языка</div>
    </div>
    <nav class="header__nav">

        {{#if isHome}}
            <div class="nav-item active-item"><a href="/">Главная</a></div>
        {{else}}
            <div class="nav-item"><a href="/">Главная</a></div>
        {{/if}}

        {{#if isAboutme}}
            <div class="nav-item active-item"><a href="/aboutme">Обо мне</a></div>
        {{else}}
            <div class="nav-item"><a href="/aboutme">Обо мне</a></div>
        {{/if}}

        {{#if isUtils}}
            <div class="nav-item active-item"><a href="/utils">Услуги</a></div>
        {{else}}
            <div class="nav-item"><a href="/utils">Услуги</a></div>
        {{/if}}

        {{#if isPay}}
            <div class="nav-item active-item"><a href="/workandpay">Участие и оплата</a></div>
        {{else}}
            <div class="nav-item"><a href="/workandpay">Участие и оплата</a></div>
        {{/if}}

        {{#if isEnroll}}
            <div class="nav-item active-item"><a href="/enroll">Как записаться</a></div>
        {{else}}
            <div class="nav-item"><a href="/enroll">Как записаться</a></div>
        {{/if}}

        {{#if isContacts}}
            <div class="nav-item active-item">Контакты</div>
        {{else}}
            <div class="nav-item">Контакты</div>
        {{/if}}

        {{#if isReview}}
        <div class="nav-item active-item">Отзывы</div>
        {{else}}
            <div class="nav-item">Отзывы</div>
        {{/if}}
        
    </nav>
    <div class="header__social">
        <img src="/img/header/Telegram App.png" alt="Telegram" class="header__social-img">
        <img src="/img/header/WhatsApp.png" alt="WhatsApp" class="header__social-img">
        <img src="/img/header/Viber.png" alt="Viber" class="header__social-img">
    </div>
    <div class="header__lang">RU</div>
</header>