<main class="questionnaire-wrapper-id  content-wrap">
    <a href="/admin">НАЗАД</a>

        <div class="questionnaire-wrapper-id__title">Дата заявки:</div>
        <div class="questionnaire-wrapper-id__text">{{candidate.date}}</div>

        <div class="questionnaire-wrapper-id__title">Имя:</div>
        <div class="questionnaire-wrapper-id__text">{{candidate.name}}</div>

        <div class="questionnaire-wrapper-id__title">E-mail:</div>
        <div class="questionnaire-wrapper-id__text">{{candidate.email}}</div>

        <div class="questionnaire-wrapper-id__title">Номер телефона:</div>
        <div class="questionnaire-wrapper-id__text">{{candidate.phone}}</div>

        <div class="questionnaire-wrapper-id__title">С какой целью вы учите или планируете изучать датский язык?</div>
        <div class="questionnaire-wrapper-id__text">{{candidate.targetLearn}}</div>

        <div class="questionnaire-wrapper-id__title">Опишите подробно свою языковую проблему. Чем я конкретно могу вам помочь?</div>
        <div class="questionnaire-wrapper-id__text">{{candidate.yourProblem}}</div>

        <div class="questionnaire-wrapper-id__title">Какой у вас уровень владения датским языком на данный момент?</div>
        <div class="questionnaire-wrapper-id__text">{{candidate.yourLvl}}</div>

        <div class="questionnaire-wrapper-id__title">Как долго вы изучаете датский язык? </div>
        <div class="questionnaire-wrapper-id__text">{{candidate.howLong}}</div>

        <div class="questionnaire-wrapper-id__title">Где вы раньше изучали датский- язык? (самостоятельно, языковая школа, с частным преподавателем) </div>
        <div class="questionnaire-wrapper-id__text">{{candidate.whereLearn}}</div>

        <div class="questionnaire-wrapper-id__title">Какими иностранными языками владеете и на каком уровне?</div>
        <div class="questionnaire-wrapper-id__text">{{candidate.anotherLanguage}}</div>

        <div class="questionnaire-wrapper-id__title">Какой был любимый предмет в школе?</div>
        <div class="questionnaire-wrapper-id__text">{{candidate.whichTypeSchool}}</div>

        <div class="questionnaire-wrapper-id__title">Что вам даётся сложно при изучении датского языка или других иностранных языков? (общение с носителями, письмо, произношение, понимание иностранной речи на слух, и т.д.) </div>
        <div class="questionnaire-wrapper-id__text">{{candidate.whatsHard}}</div>

        <div class="questionnaire-wrapper-id__title">Сколько времени (сколько часов в неделю) вы можете выделять на выполнение домашних заданий?</div>
        <div class="questionnaire-wrapper-id__text">{{candidate.howMatchTime}}</div>


    {{!-- {{candidate.id}} --}}
</main>